{% extends 'packr/base.html' %}
{% block content %}
<main class="container">

<div class="form">
    <h1>Add Item/Bag</h1>

<form method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <label class="form-label">Name</label>
        {{form.name}}
    </div>
    <div class="mb-3">
        <label class="form-label">Weight</label>
        {{form.weight}}
    </div>
    <div class="mb-3">
        <label class="form-label">Dimension X</label>
        {{form.dimension_x}}
    </div>
    <div class="mb-3">
        <label class="form-label">Dimension Y</label>
        {{form.dimension_y}}
    </div>
    <div class="mb-3">
        <label class="form-label">Dimension Z</label>
        {{form.dimension_z}}
    </div>
    <div class="mb-3 form-check">
      {{form.is_bag}}
      <label class="form-check-label" for="exampleCheck1">Is this item a packable bag?</label>
    </div>
    <button type="submit" class="btn btn-primary">Create Item</button>
  </form>
</div>
</main>
{% endblock %}