{% extends 'packr/base.html' %}
{% block content %}
<h1>My Packing Dashboard</h1>

<h2>Items</h2>
{% for item in packing_items %}
    <div>{{item.name}}</div>
    <div>X: {{item.dimension_x}}"</div>
    <div>Y: {{item.dimension_y}}"</div>
    <div>Z: {{item.dimension_z}}"</div>
    <div>Weight: {{item.weight}} lbs.</div>
    <form action="{% url 'packr:delete_item' item.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="delete item">
    </form>
    <br>
{% endfor %}

<h2>Bags</h2>
{% for item in bags %}
    <div class="font-bold text-gray-700">{{item.name}}</div>
    <div class="text-green-500">X: {{item.dimension_x}}"</div>
    <div class="text-green-500">Y: {{item.dimension_y}}"</div>
    <div class="text-green-500">Z: {{item.dimension_z}}"</div>
    <div class="text-green-500">Weight: {{item.weight}} lbs.</div>
    <form action="{% url 'packr:delete_item' item.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="delete item">
    </form>
    <br>
{% endfor %}

<h2>Packs</h2>
{% for pack in packs %}
    <div class="font-bold text-gray-700">{{pack.name}}</div>
    <div class="text-green-500">Bag: {{pack.bag}}</div>
    {% for item in pack.items.all %}
        <div>{{item.name}}</div>
    {% endfor %}
    <br>
    <form action="{% url 'packr:delete_pack' pack.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="delete pack">
    </form>
{% endfor %}

{% endblock %}