{% extends 'packr/base.html' %}
{% block content %}

<main class="container">
    <h1>Shared Packs</h1>

    <div class="row mb-3 text-center">
        {% for pack in packs %}
        <div class="col-md-4 themed-grid-col">
            <h4>{{pack.name}}</h4>
            <div>Pack total weight: {{pack.pack_weight}} lbs.</div>
            
            <div>Items:</div>
            {% for item in pack.items.all %}
                <div>{{item.name}}</div>
            {% endfor %}
            <br>
            <div class="dash-crud-buttons">
            <form action="{% url 'packr:adopt_pack' pack.id %}" method="post">
                {% csrf_token %}
                <input type="submit" value="adopt pack">
            </form>
            </div>        
        </div>
        {% endfor %}
</main>



{% endblock %}
