{% extends 'packr/base.html' %}
{% block content %}
<main class="container">
    <div class="form">
        <h1>Login with:</h1>
        
            <a class="nav-link" href="{% url 'users:register_google' %}">
                <div border-style="solid">
                    <img width=20 src="https://id-frontend.prod-east.frontend.public.atl-paas.net/assets/google-logo.5867462c.svg">
                    Google
                </div>
            </a>
        
        
    </div>
</main>
{% endblock %}